//header
.header {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-logo {
    margin-right: 280px;
  }

  .header-list {
    margin-right: 129px;
    display: flex;
    gap: 50px;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--title-color);
}


 // footer

footer {
  height: 960px;
  background: #130C3A;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.footer__h2 {
  padding: 150px 0 40px 0;
  width: 740px;
  color: white;
  text-align: center;
}

.footer__container-input {
  display: flex;
}

.footer_input {
  padding: 30px;
  width: 520px;
  height: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #C1C1C1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px 0px 0px 10px;
  background: transparent;

}

.footer__button {
  width: 200px;
  height: 60px;
  background: #0555FF;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid #0555FF;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

.footer__container-info {
  display: flex;
  padding: 0 350px 0 310px;
  gap: 110px;
}

.footer__ul {

  display: flex;
  flex-direction:column;
  gap: 10px;
  flex-wrap: wrap;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7884A6;
}
.footer__li-header {
  font-weight: bold;
  color: white;
  padding: 190px 0 19px 0;
}

.footer__li-header-first {
  padding-right: 300px;
}
.footer__bottom-line {
  width: 100%;
  height: 60px;
  background: #0F0937;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 16px;
}

