<header class="header container" >
  <img class="header-logo" src="./assets/img/HelloUI.svg" alt="logo">
  <nav class="header-list">
    <a routerLink="">Home</a>
    <a routerLink="/catalog">Catalog</a>
    <a routerLink="/contacts">Contacts</a>
  </nav>
  <div class="button-container">
    <a routerLink="/sign-in" class="sign-in">Sign in</a>
    <button class="button" routerLink="/sign-up">Try for Free</button>
<!--    <button class="button" (click)="log2()">test</button>-->
  </div>
</header>

<main>
 <router-outlet></router-outlet>
</main>

<footer class="container">
  <h2 class="secondary-title footer__h2">It’s easy to  get
    started. Start now.</h2>
  <div class="footer__container-input">
    <input class="footer_input" placeholder="Enter your email">
    <button class="footer__button">Get Started</button>
  </div>
  <div class="footer__container-info">
    <ul class="footer__ul">
      <li class="footer__li-header footer__li-header-first">Spellon.</li>
      <li>Nort West, South New Work,United State</li>
      <li>+1 246-254-0569</li>
      <li>Info@example.com</li>
    </ul>
    <ul class="footer__ul">
      <li class="footer__li-header">Resources</li>
      <li>Docs</li>
      <li>Forums</li>
      <li>Jobs</li>
      <li>Join Discord</li>
      <li>Consultants</li>
    </ul>
    <ul class="footer__ul">
      <li class="footer__li-header">Company</li>
      <li>About Us</li>
      <li>Careers</li>
      <li>Block Chain</li>
      <li>Privacy Policy</li>
      <li>Terms & Condition</li>
    </ul>
    <ul class="footer__ul">
      <li class="footer__li-header">Legal</li>
      <li>Terms of use</li>
      <li>Privacy policy</li>
      <li>GDPR/CCPA explained</li>
      <li>Guidlines</li>
    </ul>
  </div>
</footer>
<div class="footer__bottom-line">
  <img src="assets/img/Vector.png" alt="">
  2021 Hello All right reserved.
</div>
