<section class="catalog-section container">
  <h1 class="secondary-title" (click)="log()">Каталог товаров</h1>
  <form class="catalog-section__form"method="get">
    <p>
      <label class="description" for="catalog">Выберите категорию: </label>
      <select class="description" id="catalog" name="catalog">
        <option selected="true" disabled="disabled">Выберите значение</option>
        <option value="phone">Телефоны</option>
        <option value="notebook">Ноутбуки</option>
        <option value="tablet">Планшеты</option>
      </select>
    </p>
</form>
  <ul class="catalog-section__container-product" *ngFor="let product of products">
    <div class="catalog-section__container-description">
      <li class="description">Тип устройства: {{product.productType}}</li>
      <li class="description">Модель: {{product.productTitle}}</li>
      <li class="description">Цена: {{product.productPrice}}</li>
    </div>
    <li><img [src]="product.productImg" alt=""></li>
  </ul>
</section>
